In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas_ods_reader import read_ods

Initial charts of grid of cars should be added as an image from Figma / design.

## Miles travelled by EVs

In [2]:
df = read_ods('../data/DfT/veh0120.ods', 'Cars')
# df.iloc[7:, :]

In [3]:
headers = df.iloc[5]

In [4]:
df = df.iloc[6:48445]
df.columns = headers

In [5]:
#df.filter(regex="[Q]").apply(pd.to_numeric, errors='coerce')
# df[cols].apply(pd.to_numeric, errors='coerce')

In [6]:
# How many cars on the road?
df['2020 Q3 UK'].sum() / 1_000_000

32.869865

In [7]:
print('total teslas')
print(df[df['Make'] == 'TESLA']['2020 Q3 UK'].sum())

print('teslas sold in 2020')
print(df[df['Make'] == 'TESLA']['2020 Q3 UK'].sum() - df[df['Make'] == 'TESLA']['2019 Q4 UK'].sum())

total teslas
41314.0
teslas sold in 2020
16423.0

In [8]:
print('total zoes')
print(df[df['Make'] == 'RENAULT'][df[df['Make'] == 'RENAULT']['Model 1'].str.contains('ZOE')]['2020 Q3 UK'].sum())

print('Zoes sold in 2020')
print(df[df['Make'] == 'RENAULT'][df[df['Make'] == 'RENAULT']['Model 1'].str.contains('ZOE')]['2020 Q3 UK'].sum() - df[df['Make'] == 'RENAULT'][df[df['Make'] == 'RENAULT']['Model 1'].str.contains('ZOE')]['2019 Q4 UK'].sum())

total zoes
13889.0
Zoes sold in 2020
3960.0

In [9]:
print('total NISSAN LEAF')
print(df[df['Make'] == 'NISSAN'][df[df['Make'] == 'NISSAN']['Model 1'].str.contains('LEAF')]['2020 Q3 UK'].sum())
print('LEAFs sold in 2020')
print(df[df['Make'] == 'NISSAN'][df[df['Make'] == 'NISSAN']['Model 1'].str.contains('LEAF')]['2020 Q3 UK'].sum() - df[df['Make'] == 'NISSAN'][df[df['Make'] == 'NISSAN']['Model 1'].str.contains('LEAF')]['2019 Q4 UK'].sum())

total NISSAN LEAF
33492.0
LEAFs sold in 2020
5097.0

In [10]:
df[df['Make'] == 'MG'][df[df['Make'] == 'MG']['Model 1'].str.contains('EV')]

5,Make,Model 1,2020 Q3 UK,2020 Q2 UK,2020 Q1 UK,2019 Q4 UK,2019 Q3 UK,2019 Q2 UK,2019 Q1 UK,2018 Q4 UK,...,2003 Q4,2002 Q4,2001 Q4,2000 Q4,1999 Q4,1998 Q4,1997 Q4,1996 Q4,1995 Q4,1994 Q4
23916,MG,MG 5 EXCLUSIVE EV,1,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
24004,MG,ZS EXCITE EV,629,376,325,158,31,None,None,None,...,None,None,None,None,None,None,None,None,None,None
24009,MG,ZS EXCLUSIVE EV,3956,2469,2097,488,35,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [11]:
df[df['Make'] == 'JAGUAR'][df[df['Make'] == 'JAGUAR']['Model 1'].str.contains('I-PACE')]

5,Make,Model 1,2020 Q3 UK,2020 Q2 UK,2020 Q1 UK,2019 Q4 UK,2019 Q3 UK,2019 Q2 UK,2019 Q1 UK,2018 Q4 UK,...,2003 Q4,2002 Q4,2001 Q4,2000 Q4,1999 Q4,1998 Q4,1997 Q4,1996 Q4,1995 Q4,1994 Q4
15947,JAGUAR,I-PACE EV400 FIRST EDITION,384,375,375,383,382,394,373,210,...,None,None,None,None,None,None,None,None,None,None
15948,JAGUAR,I-PACE EV400 HSE,2905,2169,1871,1421,1066,615,329,175,...,None,None,None,None,None,None,None,None,None,None
15949,JAGUAR,I-PACE EV400 S,2167,1536,1007,895,713,559,345,107,...,None,None,None,None,None,None,None,None,None,None
15950,JAGUAR,I-PACE EV400 SE,3427,2798,2607,2050,1513,1049,633,308,...,None,None,None,None,None,None,None,None,None,None

Getting all the BEV models

In [12]:
# df[df['Make'] == 'RENAULT'][df[df['Make'] == 'RENAULT']['Model 1'].str.contains('ZOE')]

In [13]:
# Rules
# make == TESLA always BEV
# make == RENAULT model == ZOE always BEV

In [14]:
# avg miles per vehicle type

avg = pd.read_csv('../data/avg_miles_make_model_fueltype_2019_>30.csv')

In [15]:
avg = avg.dropna()

In [16]:
avg[avg['model'].str.contains('ZOE')]

    avg_mileage     make model        count  fuelType
82  5578.169239  RENAULT   ZOE  5010.333333  Electric

In [17]:
avg[avg['model'].str.contains('LEAF')]

    avg_mileage    make model         count  fuelType
58  7310.144886  NISSAN  LEAF  17070.916667  Electric

In [18]:
# which are BEVs
bevs = pd.read_csv('../data/ev_dataset.csv')

In [19]:
bevs[bevs['EV_type'] == 'BEV']

      Count     Company    Model EV_type
1     18701      NISSAN     LEAF     BEV
2      5437     RENAULT      ZOE     BEV
5      2260      NISSAN    NV200     BEV
6      2167         BMW       I3     BEV
11     1283       TESLA  MODEL S     BEV
...     ...         ...      ...     ...
252       4         KIA     NIRO     BEV
313       3  VOLKSWAGEN   E-GOLF     BEV
360       3     SAITING  SCOOTER     BEV
511       2       TESLA  MODEL 3     BEV
1345      1     VECTRIX  SCOOTER     BEV

[93 rows x 4 columns]

## Miles travelled by ICE